@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #0a0a0a;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    border-top:  30px #1a1a1a solid;
    font-size: 16px;
}

.nav-link {
     font-size: 13px;
     background: transparent;
     font-family: Lato, sans-serif;
     text-transform: capitalize;
     display: flex;
 }
 .nav-link:hover {
     background: transparent !important;
     color: #5756bb !important;
     font-weight: bold !important;
 }

 .login-btn {
     border: 2px solid #AD91FF !important;
     font-size: 10px !important;
 }
 .login-btn:hover {
     background: #AD91FF !important;
 }
.navbar {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 25px !important
}

.navbar-toggler-icon {
    color: #fff !important
}

.btn {
   
    font-size: 16px ;
    font-weight: 300 ;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #513eac
}
.btn-secondary {
    background-color: #615699
}
.heading {
     
    padding: 160px 100px ;
    color: rgb(233, 198, 198) ;
    background-image: url("img/colorful-wallpapers-on-wallpaperdog.png") !important;
    background-position: bottom ;
    background-size: 300% ;
    background-repeat: no-repeat ;
}

.title {
    font-family:  'Orbitron', sans-serif; 
    line-height: 100px ;
    margin-bottom: -2px ;
    font-size: 36px ;
}

.subtitle {
    font-family:  'Orbitron', sans-serif; 
    color: rgba(255, 255, 255, 0.685) !important;
    font-size: 16px !important;
    font-family: 'Lato', sans-serif;
}


.features {
    text-align: center !important;
    background: #AD91FF !important;
    padding: 60px 50px !important;
    background-image: url("../assets/wavy-dark-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.features .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.features .card-body {
    text-align: left !important;
}

.features .card-title {
    margin: 0 0 -3px !important;
}
.cards {
    margin-top: 30px !important;
}

.card {
    border-radius: 3px !important;
    box-shadow: navy;
}

.card-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #ff91b2 ;
}

.statistics {
    text-align: center !important;
    padding-top: 300px !important;
}

.statistics .card-body{
    padding: 0 !important;
    height: 390 ;
    width: 560 ;
    max-height: 390 ;
    max-width: 780 ;
}

.statistics .title {
    font-size: 40px !important;
    color: #ffffff !important;
    line-height: 50px !important;
}

.statistics .subtitle {
    font-size: 20px !important;
    color: #a2a8bd;
}

.card.statistic {
    background: transparent !important;
    box-shadow: none !important;
    color: #f7f7f7 !important;
}


.page_end {
    background-image: url("../assets/wavy-light-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.start {
    padding: 60px 50px !important
}

.start .card {
    background: transparent !important;
    color: #f6f9ff !important;
}

.features .card {
    background: #1D1E28;
    border-radius: 22px !important;
    border: 4px solid #AD91FF;
}
.features .card-text {
color: rgba(255, 255, 255, 0.46) !important
}

.features .card-body {
    padding: 40px 40px 40px 30px !important;
}

.navbar-toggler-icon {
    color: #fff !important
}
.footer {
    text-align: center !important;
    padding: 5px 6px !important;
    color: #ecf2ff;
    padding: 30px 30px !important
}

.footer .nouridio {
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 5px !important;
    letter-spacing: 0.15em !important;
    font-variant: small-caps !important;
}

.footer .nouridio a {
    color: #AD91FF !important;
    text-decoration: none !important;
}

.footer .bot-footer {
    text-align: center !important;
    color: #486ef7 !important
}


.bot-footer {
    
    width: 180px;
    height: 220px;
    position: relative;
    margin: 0 auto ;
    padding-top: 12px;
    padding-bottom: 24px;
    -webkit-transform: translateZ(0);
 }

.bg {

  position: absolute;
  top: 9px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  background: url(http://boutique.flarework.com/wp-content/themes/boutique/img/logo_large.png) center 0px no-repeat ;
    background-size: contain;
    -webkit-filter: drop-shadow(0px 6px 25px rgba(0,0,0,0.5));
}

.bar {
    position: relative;
    height: 8px;
    background: #6a6a6a;
    width:  0%;
    top: 0px;
    left: 18px;
    margin-top: 8px;
    box-shadow: 0 0 3px rgba(192,192,192,0.9);
    animation: fill 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill1 {
  animation: fill-1 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill2 {
   animation:  fill-2 5s infinite alternate, colors 5s infinite alternate;
}


.bar.fill3 {
   animation:  fill-3 5s infinite alternate, colors 5s infinite alternate;
}


.bar.fill4 {
   animation:  fill-4 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill5 {
   animation:  fill-5 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill6 {
   animation:  fill-6 5s infinite alternate, colors 5s infinite alternate;
}



@keyframes fill {
  0%   { width: 0; }
  33%  { width: 30px;}
  66%  { width: 10px;}
  100% { width: 105px; }
}

@keyframes fill-1 {
  0%   { width: 0; }
  33%  { width: 50px;}
  66%  { width: 20px;}
  100% { width: 130px; }
}

@keyframes fill-2 {
  0%   { width: 0; }
  33%  { width: 90px;}
  66%  { width: 70px;}
  100% { width: 136px; }
}

@keyframes fill-3 {
  0%   { width: 0; }
  33%  { width: 50px;}
  66%  { width: 24px;}
  100% { width: 109px; }
}

@keyframes fill-4 {
  0%   { width: 0; }
  33%  { width: 98px;}
  66%  { width: 34px;}
  100% { width: 99px; }
}

@keyframes fill-5 {
  0%   { width: 0; }
  33%  { width: 30px;}
  66%  { width: 10px;}
  100% { width: 148px; }
}


@keyframes fill-6 {
  0%   { width: 0; }
  33%  { width: 48px;}
  66%  { width: 22px;}
  100% { width: 140px; }
}

@keyframes colors {
  0% { background-color: #ff7a90;}
  50% { background-color: rgb(152, 150, 250);}
  100% { background-color: #ffaf6e;}
}